<!-- <nav>
  <div class="container">
    <div class="content">
      <h2 class="logo">Brands</h2>
      <ul>
        <li routerLink="products">Products</li>
        <li routerLink="cart">Carts</li>
      </ul>
    </div>
  </div>
</nav> -->

<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn  ">
      <i class="fas fa-bars"></i>
  </label>
  <label class="logo">Brands</label>
  <ul>
      <li><a routerLink="products">Products</a></li>
      <li><a routerLink="cart">Carts</a></li>
  </ul>
</nav>
